<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found    </title>
    <style>
        h1 {
           color:#42a5f6;
           text-align: center;
           margin: 60px;
        }
        img {
            margin-left: 120px;
            text-align: center;
        }
        

    </style>

</head>
<body>
    <h1>Not Found 404</h1>
    <img src="https://cdn-images-1.medium.com/max/800/1*qdFdhbR00beEaIKDI_WDCw.gif" alt="Not found GIF">

</body>
</html>